/* Importação da Fonte do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* Reset de Estilos Padrão e Estilos Globais */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

/* Layout da Página e Container Principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Adicionado preenchimento para desktop */
}

/* Seção Principal da Página */
.section {
    background: linear-gradient(to bottom, #0b0c0c, #040008);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
}

/* Estilos do Texto com Gradiente */
.bg-gradient {
    background: linear-gradient(to right, #00c7bd, #00e279);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 4rem;
    font-weight: 700;
}

/* Container do Formulário */
.form-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/* Estilos do Input do Formulário */
.form-input {
    width: 70%;
    height: 43px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    color: #e2e2e2;
    background-color: #252323;
    font-size: 1rem;
    font-weight: 300;
}

/* Estilos do Botão de Envio do Formulário */
.submit-button {
    width: 20%;
    height: 63px;
    background-color: #00c7bd;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;

}

.submit-button:hover {
    background-color: #00e279;
}

/* Estilos do Link dos Termos e Condições */
.terms-link {
    text-decoration: underline;
    color: #e2e2e2;
    font-weight: 300;

}

.terms-link:hover {
    color: #e2e2e2;
}

/* Estilos dos Parágrafos */
.p-email-1,
.p-email-2 {
    font-size: 1rem;
    color: #e2e2e2;
    font-weight: 300;


}

/* Adicione as seguintes regras dentro da sua media query para dispositivos móveis */
@media only screen and (max-width: 600px) {
    .container {
        max-width: 300px;
        margin: 0 auto;
        padding: 0 10px;
    }
    .bg-gradient {
        font-size: 3rem;
        font-weight: 700;

    }

    .form-container {
        max-width: 100%;
    }

    .form-input,
    .submit-button {
        width: 100%;
        box-sizing: border-box;
    }
}
